@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --cor1: #0e0f1d;
    --cor2: #0708107d;

    --font: 'Roboto';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: var(--font);
}

.principal-principal {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    background-color: var(--cor1);
    color: white;
}

.cadastro-principal {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    background-color: var(--cor1);
    color: white;
}

.login-principal {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    background-color: var(--cor1);
    color: white;
}

form {
    display: flex;
    justify-content: center;
    gap: 5rem;
    background-color: var(--cor2);
    padding: 2rem;
    border-radius: 1rem;
}

.form-register {
    width: 60%;
}

.form-login {
    width: 40%;
    margin-top: 5rem;
    flex-direction: column;
    gap: 2rem;
}

.form-group {
    display: flex;
    gap: 1rem;
}

.options {
    display: flex;
    gap: 2rem;
}

.options a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

a:hover {
    color: #01011d;
}

a:active {
    color: black;
}

.col1 {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.col2 {
    width: 50%;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1.6rem;
    margin: 1rem 0 .5rem;
}

input:not(input[type="submit"]), select, option {
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 1rem;
    background-color: black;
    padding: 1rem;
    color: white;
}

input {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.679);
}

input[placeholder] {
    color: white;
}

.termos {
    margin: 2rem 0 1rem .5rem;
}

input[type="checkbox"] {
    margin-right: 1rem;
}

.btn {
    background-color: black;
    color: white;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    cursor: pointer;
    margin-top: 1.5rem;
}

.btn:hover {
    background-color: #01011d;
}

.btn:active {
    background-color: black;
}
